<p id="notice"><%= notice %></p>

<h1>Listing Styles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
  <ul>
    <% @styles.each do |style| %>
      <tr>
        <td><li><%= link_to style.name, style %></li></td>
      </tr>
    <% end %>
    </ul>
  </tbody>
</table>

<br>

<%= link_to 'New Style', new_style_path if current_user %>
