<h2>Breweries</h2>

<table id="brewerytable" class="table table-hover">
  <thead>
  <th> <a href="#" id="breweryname">Name</a> </th>
  <th> <a href="#" id="year">Established in</a> </th>
  <th> <a href="#" id="count">Number of beers</a> </th>
  </thead>
</table>